html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
#content {
  flex: 4;
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  margin-top: 10px;
  margin-right: 10px;
}
#info {
  margin: 5px;
  flex: 4;
  height: 100%;
}

.sidebar {
  /* position: fixed; */
  flex: 1;
  left: 0;
  width: 270px;
  height: 100%;
  background: #040404;
}
.sidebar header {
  font-size: 20px;
  text-align: center;
  color: rgb(199, 231, 231);
  line-height: 60px;
  background: rgb(68, 68, 72);
  user-select: none;
}
.sidebar ul a {
  display: block;
  color: rgb(167, 208, 208);
  height: 100%;
  width: 100%;
  padding-left: 45px;
  line-height: 60px;
  font-size: 15px;
  transition: 0.4s;
  box-sizing: border-box;
  border-top: 1px solid rgb(92, 89, 89);
  border-bottom: 1px solid rgb(92, 89, 89);
}
ul li:hover a {
  padding-left: 50px;
}
