html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgb(0, 0, 0), rgb(237, 232, 232));
}
#header {
  width: 100%;
  /* flex: 1; */
  background-image: url(banner.jpg);
  background-position: center;
}
#header p {
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#content {
  flex: 7;
  display: flex;
  flex-direction: row;
  /* margin-left: 10px;
  margin-top: 0.2px;
  margin-right: 10px; */
}
#info {
  display: block;
  /* margin: 5px; */
  flex: 5;
  height: 100%;
  margin: 1px;
}
.container {
  width: 100%;
  /* min-height: 100vh; */
  padding: 5%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.search-bar {
  width: 100%;
  max-width: 350px;
  height: 50px;
  background: linear-gradient(to right, #bae8e8, #000000);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: rgb(10, 9, 9);
}

::placeholder {
  color: #070707;
}

.search-bar button img {
  width: 25px;
  background: transparent;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: transparent;
  cursor: pointer;
}

.sidebar {
  display: block;
  position: relative;
  flex: 1;
  left: 0;
  width: 170px;
  /* height: 100%; */
  background: #040404;
}
.sidebar header {
  font-size: 20px;
  text-align: center;
  color: rgb(199, 231, 231);
  line-height: 60px;
  background: rgb(68, 68, 72);
  user-select: none;
}
.sidebar ul a {
  display: block;
  color: rgb(167, 208, 208);
  height: 100%;
  width: 100%;
  padding-left: 45px;
  line-height: 60px;
  font-size: 15px;
  transition: 0.4s;
  box-sizing: border-box;
  border-top: 1px solid rgb(92, 89, 89);
  border-bottom: 1px solid rgb(92, 89, 89);
}
.sidebar ul a.selected {
  background-color: rgb(106, 80, 126);
}
#partList {
  background: linear-gradient(to bottom, #dfcaca, #bae8e8);
  width: 100%;
  height: 100%;
}

/* trial and error */

.addBtn {
  background-color: rgb(223, 219, 222);
  width: 100px;
  height: 50px;
  border-radius: 20px;
  text-align: center;
  float: right;
  margin: 5px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.hidden {
  display: none;
}
#partList tbody {
  text-align: center;
}
#partList thead {
  text-align: center;
  font-size: 25px;
}

ul {
  padding: 0%;
  list-style-type: none;
}
ul li {
  box-sizing: border-box;
  width: 15em;
  height: 3em;
  font-size: 20px;
  border-radius: 0.5em;
  margin: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0);
  color: aliceblue;
  font-family: sans-serif;
  text-transform: capitalize;
  line-height: 3em;
  transition: 0.3s;
  cursor: pointer;
}
ul li:nth-child(odd) {
  background: linear-gradient(to right, #000000, #bae8e8);
  text-align: left;
  padding-left: 10%;
  transform: perspective(500px) rotateY(45deg);
}
ul li:nth-child(even) {
  background: linear-gradient(to left, #020202, #bae8e8);
  text-align: right;
  padding-right: 10%;
  transform: perspective(500px) rotateY(-45deg);
}
ul li:nth-child(odd):hover {
  transform: perspective(200px) rotateY(10deg);
  padding-left: 5%;
}
ul li:nth-child(even):hover {
  transform: perspective(200px) rotateY(10deg);
  padding-left: 5%;
}
